{% extends "base.html" %} {% block main %}
<header>
  <span class="username">{{ username }}</span>
  <form class="logout" name="logout" method="post" action="/basic/logout">
    <input type="submit" value="Logout" />
  </form>
</header>
<main class="folder-list">
  <ul>
    {% for item in folder_list %}
    <li class="{%- if item.is_file -%} file {%- else -%} folder {%- endif -%}">
      <img
        aria-label="{%- if item.is_file -%} file {%- else -%} folder {%- endif -%}"
        src="{%- if item.is_file -%} /basic/assets/file.svg {%- else -%} /basic/assets/folder.svg {%- endif -%}"
      />
      <a href="/basic/{{- path -}}/{{- item.name -}}">{{- item.name -}}</a>
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}
